.textField{
    width: 8ch !important;
    margin: .5rem 0 !important;
}



.animalName{
    color: var(--main-dark) !important;
}



image {
    height: 200px;
}

.emptyCartTitle{
    margin-bottom: 3rem !important;
}

@media only screen and (max-width: 500px) {
    .animalName {
      font-size: 2rem !important;
    }
  }

  .emptyCartButton{
    margin: .5rem !important;
}

.emptyCart{
    color: var(--main-dark) !important;
    min-height: 300px !important;
    padding: 1rem .5rem !important;
}

