@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Open+Sans&family=Roboto&display=swap");


.sectionTitle{
    color: var(--main-dark);
    line-height: .9 !important;
    letter-spacing: -1px !important;
  
  
}

.articleTitle{
    font-family:  var(--oswald), Helvetica, sans-serif !important;
    color: var(--main-dark);
    line-height: .8 !important;
    letter-spacing: -2px !important;
    margin: 2rem 0 !important;
  
  
}

.section p{
    font-family: "Roboto", Helvetica, sans-serif !important; 
}

.section li {
    margin: 1rem 0;
}

.section a{
    color: var(--main-dark)
}

.openIcon{
    vertical-align: bottom;
}

.questionP{
    font-size: 1.2rem;
}