@import url('https://fonts.googleapis.com/css2?&family=Oswaldfamily=Amatic+SC&family=Open+Sans&family=Roboto&display=swap');

  .root {
      flex-grow: 1;
  }

  .navLinks {
      margin-right: 1rem !important;
      
}
  .navLinks:hover{
    color: var(--main-brown);
    text-decoration: none !important;
    transition: 300ms !important    ;
    -webkit-transition: 300ms !important    ;
    -moz-transition: 300ms !important    ;
    -ms-transition: 300ms !important    ;
    -o-transition: 300ms !important    ;
}

  .shoppingCart {
      margin-right: .5rem
  }
  .cartMenu{
    min-width: 200px !important;
  }

  .title{
      flex-grow: 1;
      display: flex;
      align-items: center;
  }
  .logo{
      margin-right: 3rem !important;
      
      letter-spacing: -2px !important;
      cursor: pointer !important;
  }



  @media only screen and (max-width: 770px) {
    .logo {
      margin-right: 1.5rem !important;
      font-size: 2rem !important;
    }
  }

  @media only screen and (max-width: 500px) {
    .logo {
      margin-right: 0 !important;
      font-size: 1.5rem !important;
    }
  }

  .checkoutButton{
    background-color: var(--main-brown) !important;
  }

  