@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans&family=Roboto&display=swap');


:root {
  --main-bg: #fdf9f3;
  --main-dark: #404651;
  --main-blue: #6ccdf0;
  --main-brown: #ffb354;

}
body{
  background-color: var(--main-bg);
  font-family: Roboto;
}